<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WarehouseApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WarehouseApp.Properties.Settings.Debug" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\\whouse.mde"
            providerName="System.Data.OleDb" />
        <add name="WarehouseApp.Properties.Settings.Release" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\\whouse.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <applicationSettings>
        <WarehouseApp.Properties.Settings>
            <setting name="InvoiceReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvoiceResetType" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="InvoicePattern" serializeAs="String">
                <value>ddMMyy-nnnn</value>
            </setting>
            <setting name="InvoiceSummaryPosition" serializeAs="String">
                <value>520</value>
            </setting>
        </WarehouseApp.Properties.Settings>
    </applicationSettings>
</configuration>